<app-base-page></app-base-page>
<div class="container">
    <div class="jumbotron">
            <div class="text-center">   
                    <h1>About Me</h1>
             </div>
             <h4>Name :- Raj Koradia</h4>
<br>
<br>
<img src="/assets/images/MyPic.jpg" alt="MyPicture" width="300" >
<br>
<br> <p class="text-justify">I am currently pursuing Software Engineering Technology at centennial college 
and will be graduating in this coming April. During this time, I have worked with the latest technologies in my classes and 
I had the opportunity to gain knowledge in many different programming languages like C#, ASP.Net, Angular etc. 
The best thing I like about programing is the challenges you face and new technologies you get to learn. I work extremely well in a team environment and have been a team leader on several of my academic projects. I have also further developed my communications skills throughout my academic career which I feel plays a vital role if working in a team environment.</p>
<div class="text-center">
    <a class="btn btn-info" href ="/Assets/resume/resume.pdf" download>Download My Resume</a>
</div>

</div>
</div>