<app-base-page></app-base-page>
<div class="container">
    <div class="jumbotron">
        <div class="text-center">   <h1>Welcome to E-Portfolio</h1></div>
       <br>
      <h2 class="text-center"><u>Mission Statement</u></h2><br>

    <p class="text-center">I aim to be Software Developer having excellent knowledge in Web Application Development,
     Programming Languages such as C# and Java, Databases and Software Engineering Methodologies.<br><br>
    <a href="/about" class="btn btn-dark">Click here to navigate to the About page</a> </p>
  </div>
</div>