<app-base-page></app-base-page>
<div class="container">
	    <div class="jumbotron">
                <img src="/assets/images/Services.jpg" alt="Services" width="500" align="right" hspace="50" >
                <h3>Technical Skills</h3>
                        <ul>
                            <li>Java</li>
                            <li>C#</li>
                             <li>C++</li>
                            <li>HTML</li>
                            <li>PHP</li>
                            <li>ASP.NET</li>
                            <li>Java Script</li>
                            <li>SQL/PLSQL</li>
                            <li>Unix/Linux</li>
                        </ul>
                    </div>
                </div>